{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <h1>Nouveau mot de passe</h1>

    {% for message in app.flashes('error') %}
        <p style="color:red;">{{ message }}</p>
    {% endfor %}

    <form method="post">
        <div>
            <label for="password">Nouveau mot de passe :</label>
            <input type="password" id="password" name="password" required autofocus>
        </div>
        <button type="submit">Modifier le mot de passe</button>
    </form>
{% endblock %}
