{% extends 'base.html.twig' %}

{% block title %}Paiement annulé{% endblock %}

{% block body %}
    <div {{ react_component('PaymentCancel', {
        'firstname': app.user ? app.user.firstname : null,
        'lastname':  app.user ? app.user.lastname  : null,
        'email':     app.user ? app.user.email     : null
    }) }}></div>
{% endblock %}
